[project]
	description = A plugin of NERDTree showing git status
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Xuyuan Pang (Xuyuanp)
[access "refs/for/refs/*"]
	read = group user/Xuyuan Pang (Xuyuanp)
	push = group user/Xuyuan Pang (Xuyuanp)
	label-Code-Review = -2..+2 group user/Xuyuan Pang (Xuyuanp)
	label-Verified = -1..+1 group user/Xuyuan Pang (Xuyuanp)
	rebase = group user/Xuyuan Pang (Xuyuanp)
	removeReviewer = group user/Xuyuan Pang (Xuyuanp)
	submit = group user/Xuyuan Pang (Xuyuanp)
[access "refs/heads/*"]
	read = group user/Xuyuan Pang (Xuyuanp)
	create = group user/Xuyuan Pang (Xuyuanp)
	push = +force group user/Xuyuan Pang (Xuyuanp)
	pushMerge = group user/Xuyuan Pang (Xuyuanp)
[access "refs/tags/*"]
	push = +force group user/Xuyuan Pang (Xuyuanp)
	pushTag = group user/Xuyuan Pang (Xuyuanp)
	pushSignedTag = group user/Xuyuan Pang (Xuyuanp)
